/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;

    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
    margin: 0;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body{
    font-family: "Roboto",Arial, sans-serif;
    font-style: normal;
    line-height: 1.23;

    background-color: rgba(0, 0, 0, 0);
}

.content-section {
    
}

.content-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px; 
}

 @media screen and (max-width:980px) {
    .content-container{
        max-width: 600px;
    }
 }

 @media screen and (max-width:640px) {
     .content-container {
         max-width: 640px;
     }
 }

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
 @media screen and (max-width:980px) {
     .header {
         flex-direction: column;
        
     }

 }

 @media screen and (max-width:980px) {
     .logo{
         padding: 20px;
         margin-bottom: 40px;
     }

 }
.navigation-list{
    display: flex;
    align-items: center;
    gap: 30px;
    color: #000000;
    font-weight: 500;
}
 @media screen and (max-width:980px) {
     .navigation-list {
         flex-direction: column;
         gap: 20px;
         

     }

 }

.primary-button{
    padding: 8px 30px;
    color: #ffffff;
    background-color: #eb633d;
    width: fit-content;
    border-radius: 3px;
}

.primary-button:hover,.primary-button:focus{
    color: #eb633d;
    background-color: #fff;
}
@media screen and (max-width:980px) {
    .primary-button {
        margin-top: 40px;
    }}

.main-block{
    margin-top: 130px;
}

.main-block__quote{
    font-size: 64px;
    line-height: 1.23;
    font-weight: 600;
    color: #000000;
    text-align: left;
    max-width: 760px;
}

@media screen and (max-width:980px) {
    .main-block__quote {
        font-size: 60px;
    }
}

@media screen and (max-width:640px) {
    .main-block__quote {
        font-size: 30px;
        max-width: 100%;
    }
}

.main-block__title{
    margin-top: 41px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #8a8a8a;
}

.main-block__list{
    margin-top: 210px;
    margin-bottom: 195px;
    display: flex;
   
    flex-direction: row;
}

@media screen and (max-width:980px) {
    .main-block__list {
       flex-direction: column;
    }
}

.main-block__list li{
    width: 33.33%;
    height: 100%;
    padding: 10px;
}

@media screen and (max-width:980px) {
    .main-block__list li {
        width: 100%;
    }
}

.main-block__picture{
width: 100%;
}

.main-block-item__title{
    margin-bottom: 12px;
    margin-top: 27px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
@media screen and (max-width:980px) {
    .main-block-item__title {
        margin-top: 20px;
    }
}

.main-block-item__about{
    margin-top: 17px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 300;
    color: #8a8a8a;
}

/* Секція Про Нас */

.about{
    background-image:linear-gradient(to top,
            rgba(64, 26, 0, 0.80),
            rgba(6, 17, 31, 0.80)),url(../images/about.jpg);
            background-repeat: no-repeat;
            background-size: 100% contain;
            background-position: center;

 height: 748px;

color: #fff;
    
}